.env
.config.py
node_modules
.DS_Store

package-lock.json
package.json
private.key
ds_config.py
semantic search\contracts\
semantic search\contracts\Complete_with_DocuSign_Sales_Contract.pdf
venv/
contracts/
quickstarter/
examples.py
.streamlit/secrets.toml